<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Number Guessing Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
</head>

<body>
    <div class="container">
        <h1>Number Guessing Game</h1>

        {% if not game_started %}
            <form action="/start" method="POST">

                <label>Select Difficulty</label>

                <select name="difficulty">

                    {% for key, settings in difficulties.items() %}

                        <option value="{{ key }}">
                            {{ settings.name }}
                        </option>

                    {% endfor %}

                </select>

                <button type="submit">
                    Start Game
                </button>
                
            </form>
        {% endif %}



        <!-- Active Game-->
        {% if game_started %}
            <h2>Guess between {{ min_number }} and {{ max_number }}</h2>

            <p>Attempts Left: {{ attempts_left }}</p>

            <form action="/guess" method="POST">
                <input type="number" name="guess" required>
                <button type="submit">Guess</button>
            </form>
        {%  endif %}
            
        {% if result %}
            <h3>
                {{ result.message }}
            </h3>
         {% endif %}

         {% if game_over %}
            <form action="/" method="GET">
                <button type="submit">
                    Change Difficulty
                </button>
            </form>
         {% endif %}
    </div>
</body>
</html>