<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Number Guessing Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/history">History</a> |
        <a href="/stats">Stats</a> |
        <a href="/logout">Logout</a>
    </nav>

    <br>

    <div class="container">
        <h1>Number Guessing Game</h1>

        {% if username %}
        <p>Welcome, {{ username }} 👋</p>

        <a href="/history">View History</a>
        <br>
        <a href="/stats">View Statistics</a>
        <br>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <br>
        <a href="/signup">Signup</a>
        {% endif %}

        {% if state == "start" %}
        <form action="/start" method="POST">
            <label>Select Difficulty</label>
            <select name="difficulty">
                {% for key, settings in difficulties.items() %}
                <option value="{{ key }}">
                    {{ settings.name }}
                </option>
                {% endfor %}
            </select>

            <button type="submit">
                Start Game
            </button>

        </form>
        {% elif state == "play" %}
        <h2>Guess between {{ min_number }} and {{ max_number }}</h2>
        <p>Attempts Left: {{ attempts_left }}</p>

        {% if result %}
        <h3>{{ result.message }}</h3>
        {% endif %}

        <form action="/guess" method="POST">
            <input type="number" name="guess" min="{{ min_number}}" max="{{ max_number}}" required>
            <button type="submit">Guess</button>
        </form>

        {% else %}

        <p>Invalid state</p>

        {% endif %}
    </div>
</body>

</html>